body{
	background-color: #e9e9e9;
}

.ceng{
	width: 520px;
	margin-top: 100px;
	margin-left: 30px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #bfbfbf;
	background-color: white;
	/* 使用时最好加前缀 */
	box-shadow: 2px 2px 3px #aaa;
}

.rotate_left{
	float: left;
	-webkit-transform: rotate(7deg);
	-moz-transform: rotate(7deg);
	-ms-transform: rotate(7deg);
	-o-transform: rotate(7deg);
	transform: rotate(7deg);
}

.rotate_right{
	float: left;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	-o-transform: rotate(-8deg);
	transform: rotate(-8deg);
}