body{
	background-color: #ddd;
}

#main{
	margin: 100px auto;
	width: 800px;
	clear: both;
}

#main li{
	background-color: #fff;
	list-style: none;
	width: 240px;
	padding: 1px;
	border: 1px solid rgba(255, 0, 0, 0);
	cursor: pointer;
	float: left;
	margin: 3px;
}

#main li:hover{
	border: 1px solid rgba(255, 0, 0, 1);
}

#main li:hover .img img{
	opacity: 0.7;
}

.img img{
	transition: all 1s;
	width: 240px;
}

.goods_title{
	margin: 10px;
	color: #666;
	height: 43px;
	overflow: hidden;
}

.price{
	margin: 10px;
	color: #f00;

}