.ceng{
	width: 100px;
	height: 100px;
	background-color: pink;
	cursor: pointer;
	transition-duration: 2s;
	/* 还可以写width或者height */
	transition-property: all;
	transition-delay: .2s;
	/* ease 先慢后快再慢 */
	/* linear 匀速 */
	/* ease-in 从慢到快 */
	/* ease-in 从快到慢 */
	/* ease-in-out 开始和结束慢 中间快 */
	/* step-start duration开始时快速变化 */
	/* step-start duration结束时快速变化 */
	transition-timing-function: step-end;
	/* 简写方法也需要加前缀 */
	/*transition: all 2s .2s ease;*/
}

.ceng:hover{
	width: 300px;
	height: 150px;
	background-color: red;
	border-radius: 40px;
}