.rect{
	width: 100px;
	height: 100px;
	background-color: red;
	position: fixed;

	/* 使用时要加前缀！！！ */

	animation-name: mymove;
	animation-duration: 5s;
	/* linear 匀速 */
	/* ease 慢快慢 */
	/* ease-in 慢快 */
	/* ease-out 快慢 */
	/* ease-in-out 慢快慢 */
	animation-timing-function: ease-in-out;
	animation-delay: 1s;
	/* 循环次数 */
	animation-iteration-count: infinite;
	/* 反方向播放 */
	animation-direction: alternate;

	/* 简洁写法 */
	/*animation: mymove 5s infinite;*/
}

/*@keyframes mymove{
	from { top: 0; left: 20%; }
	to { top: 0; left: 80%; }
}*/

@keyframes mymove{
	0% { top: 0; left: 20%; background-color: : red; }
	25% { top: 0; left: 80%; background-color: blue; }
	50% { top: 80%; left: 80%; background-color: black; }
	75% { top: 80%; left: 20%; background-color: yellow; }
	100% { top: 0; left: 20%; background-color: red;}
}